.a{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 56px;
    text-align: center;

    border: solid 2px blue;
    border-radius: 50px;

    padding: 10px 80px;
    
    
  }
  .a:hover{
      background-color: white;
      color: tan;
  }


  .button1{
      background-color: grey;
      position: absolute;
      left: 20%;
  }

  .button2{
      background-color: grey;
      position: absolute;
      left: 40%;
  }

  .button3{  
        background-color: grey;
        position: absolute;
        left: 60%;
    
  }

  .mainMenuTitle{
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100;
      color: white;
      
  }

